<div class="row">
  <div class="col-sm">
    <h2>About</h2>
  </div>
</div>
<div class="row pt-4"></div>
<div class="row">
  <div class="container">
    <samp> I could show you the lorem ipsum (or my boring life story), but why bother?
    </samp>
  </div>
</div>