<div class="jumbotron text-center">
  <h1 class="display-3">Hai!!!</h1>
  <h3>Sanguine-Taffrail is like a playground.</h3>
  <hr class="my-4">
  <p class="lead">Here you can play around!</p> </br>
  <a class="btn btn-outline-danger btn-lg" href="/posts" role="button">Read More</a>
</div>