<div class="row">
  <div class="col-sm">
    <h1>Hai!!!</h1>
  </div>
  <div class="col-8"></div>
  <div class="col-sm">
    <a href="./about" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">About</a>
  </div>
</div>

<div class="row pt-1"><br></div>

<div class="row">
  <div class="col-sm"></div>
  <div class="col-8"></div>
  <div class="col-sm pl-4">
      <a href="./posts" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Posts</a>
    </div>
  </div>