<footer class="py-4 bg-light fixed-bottom">
<div class="container text-center">
  <small><%= link_to "Sanguine Taffrail", "https://github.com/d1stract3d/sanguine-taffrail", class:"text-danger" %>
    by <%= link_to "Alex", "https://github.com/d1stract3d", class:"text-danger" %></small>
</div>
</footer>
